<div class="row event-new">
  <div class="container-fluid">
    <div class="col-md-4 left-top-menu">
        <%= link_to "Home", root_path %>
        <%= link_to "Browse Events", events_path %>
    </div>
    <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
    <div class="col-md-4 right-top-menu text-md-right">
        <%= link_to "Create Event", new_event_path %>
      <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>

    </div>
</div>
</div>

<div class="row info-bar">
<div class="container">
  <span>Sign up</span>

</div>
</div>

  <div class="row">
    <div class="container">
      <div class="col-md-12 text-xs-center sup-form">
<h2></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="field form-group row">
    <%= f.label :first_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  </div>

  <div class="field form-group row">
    <%= f.label :last_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  </div>

  <div class="field form-group row">
    <%= f.label :country, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
    <%= f.text_field :country, class: "form-control" %>
      </div>
  </div>

  <div class="field form-group row">
    <%= f.label :email, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
    <%= f.email_field :email, class: "form-control" , autofocus: "true" %>
  </div>
</div>


  <div class="field form-group row">
    <%= f.label :password, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
      <%= f.password_field :password, placeholder: "6 characters minimum", class: "form-control" , autocomplete: "off" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= f.password_field :password_confirmation, class: "form-control",  autocomplete: "off" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= f.label :avatar, "Profile picture", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= f.file_field :avatar, class: "form-control" %>
      </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
