<div class="container">


<%= form_for [@event, @a_comment] do |f| %>

<div class="form-group comment-area">
  <h3 class="">Share a comment</h3>
    <%= f.label :email, class: "col-sm-2 form-label" %>
    <%= f.text_field :email, class: "form-control" %>

</div>
<div class="form-group">
    <%= f.label :feedback, class: " col-sm-2 form-label"  %>
    <%= f.text_area :feedback, class: "form-control"%>
</div>
<div class="form-group">
    <div class="">
        <%= f.button class: "btn btn-primary"%>
    </div>
</div>
<% end  %>

</div>
