<% @events.each do |an_event| %>
<div class="row event-listing">
  <div class="col-sm-4 text-sm-right">
      <%= link_to (image_tag (an_event.poster.url(:medium)), class: "img-fluid"), event_path(an_event.id) %>
  </div>

    <div class="col-sm-8 text-sm-center">
        <p><%= link_to "#{an_event.title}", event_path(an_event.id), class: "detail-link"%></p>
    </div>

    <div>
        <p><%= an_event.date.strftime("%A, %d %b %Y") %></p>
    </div>


    <div>
        <p>City:<%= an_event.city %></p>
    </div>
    <div>
        <p>Location:<%= an_event.location %></p>
    </div>
</div>
<% end %>
