
 <div class="row">
   <%= form_tag("/events/filter_search", class: "form-inline text-md-center" ,:method => "get") do %>
     <div class="form-group">
       <%= label_tag :city %>
         <%= select_tag("city", options_for_select(['','Granada', 'León', 'San Juan del Sur', 'Managua'])) %>
     </div>

         <div class="form-group">
           <%= label_tag :category %>
             <%= select_tag(:category, options_for_select(['', 'Music & Entertainment', 'Sports & Wellness', 'Theater, Film & Arts', 'Food & Drink', 'Community', 'Education', 'Business & Networking', 'Night life'])) %>
         </div>

         <div class="form-group">
           <%= label_tag :event_type, "Event Type" %>
             <%= select_tag(:event_type, options_for_select(['', 'Festival', 'Concert', 'Fundraiser', 'Fair', 'Expo', 'Party', 'Special Offer'])) %>
         </div>

         <div class="form-group">
           <%= label_tag :cost, "Cost" %>
             <%= select_tag(:cost, options_for_select(['', 'Free', 'Paid', 'By Donation'])) %>
         </div>

         <div class="form-group">
           <%= label_tag :date, "Date" %>
             <%= select_tag(:date, options_for_select(['', 'Today'])) %>
         </div>

     <%= submit_tag "Find Events", :class => "btn btn-primary" %>
     <% end %>
 </div>
