<div class="row event-details">
    <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Browse Events", events_path %>

        </div>
        <div class="col-md-4 text-xs-center" id="logo">
            <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
            <%= link_to "Create Event", new_event_path %>
            <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
        <% else %>
            <%= link_to "Sign Up", new_user_registration_path %>
            <%= link_to "Log In", new_user_session_path %>
            <% end %>
        </div>
    </div>
</div>

<div class="row info-bar">
    <div class="container">
        <span><% if user_signed_in? %>
            <div>Welcome,
                <%= current_user.first_name%>!
                <%= link_to "Edit your profile", edit_user_registration_path %></div>
            <% end %></span>
    </div>
</div>

<div class="container">
    <div class="row col-md-6 account-title">
        <h3>
            Your account information</h3>

        <ul class="account-info">
            <li>Your email:
                <%= current_user.email%></li>
            <li>Joined:
                <%= current_user.created_at.strftime("%A, %d %b %Y")%></li>
            <li>Your profile picture:
            </li>
            <li>
                <%= image_tag current_user.avatar.url(:medium)%>
            <li></br>

        </div>
        <div class="row col-md-6 published-title">
            <h3>
                Your published events
            </h3>

            <ul>
                <% @events_list.each do |one_event| %>
                <li>
                    <p><%= link_to "#{one_event.title}", event_path(one_event.id), class: "detail-link"%></p>
                </li>
                <% end %>
            </ul>
    </ul>
</div>
</div>
    <%= render "partials/footer" %>
