
<!-- Featured Events page -->

    <div class="row" id="box-events-wrapper">
      <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Create Event", new_event_path %>
        </div>
        <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
          <%= link_to "More Events", events_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        </div>
      </div>
    </div>

      <div class="row featured-events-body">
        <div class="col-sm-9 featured-events-list">
          <p>Featured Events</p>
        <div class="row">
        <ul>
          <% @featuredevents.each do |an_event| %>
          <li>
            <span class="title">T: <%= link_to "#{an_event.title}", event_path(an_event.id) %></span>
            <span class="date">D: <%= link_to an_event.date %></span>
            <span class="city">C: <%= link_to an_event.city %></span>
          </li>
          <% end %>
        </ul>
          <!-- <div class="col-sm-4">
            aaaa
            aaaa
          </div>
          <div class="col-sm-4">
            aaaa
            aaaa
          </div>
          <div class="col-sm-4">
            aaaa
            aaaa
          </div> -->
      </div>
        </div>
        <div class="col-sm-3 events-filters">
          <div class="row">
            Map link </br>
            xxxx</br>
            xxxxx</br>
            xxxxx</br>
            xxxxx
          </div>

        <div>
          Search by:
        </div>
        <div class="row">
          City
        </div>
        <div class="row">
          Category
        </div>
        <div class="row">
          Event type
        </div>
        <div class="row">
          Date
        </div>
        <div class="row">
          Price
        </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="container-fluid"></div>
          <div class="footer text-xs-center">
            <a href="index.html.erb">Facebook</a>
            <a href="index.html.erb">Instagram</a>
          </div>
    </div> -->
