
<!-- Featured Events page -->

    <!-- <div class="row" id="box-events-wrapper">
      <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Create Event", new_event_path %>
        </div>
        <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
          <%= link_to "More Events", events_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        </div>
      </div>
    </div> -->

    <div class="row other-events">
      <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Create Event", new_event_path %>
        </div>
        <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
          <%= link_to "Browse Events", events_path %>
          <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
      <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Log In", new_user_session_path %>
          <% end %>
        </div>
    </div>
    </div>

    <div class="row info-bar">
    <div class="container">
      <span>Happening this month</span>
    </div>
    </div>

      <div class="container featured-events-body">
        <div class="col-sm-8 featured-events-list">
            <div class="row">
              <%= render "partials/event_listing" %>
            </div>
        </div>

        <div class="col-sm-3 offset-sm-1 events-filters">

        <div class= "row text-sm-center">
          Search for more events:
        </div>

        <div class="row">
            <div class ="row filters">
                <%= render "partials/filter_search_forms"%>
            </div>
      </div>
