
<!-- Featured Events page -->

    <!-- <div class="row" id="box-events-wrapper">
      <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Create Event", new_event_path %>
        </div>
        <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
          <%= link_to "More Events", events_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        </div>
      </div>
    </div> -->

    <div class="row other-events">
      <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Create Event", new_event_path %>
        </div>
        <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
          <%= link_to "More Events", events_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        </div>
    </div>
    </div>

      <div class="row featured-events-body">
        <div class="col-sm-9 featured-events-list">
          <p>Featured Events</p>
        <div class="row">
        <ul>
          <% @featuredevents.each do |an_event| %>
          <li>
            <span class="title">T: <%= link_to "#{an_event.title}", event_path(an_event.id) %></span>
            <span class="date">D: <%= link_to an_event.date %></span>
            <span class="city">C: <%= link_to an_event.city %></span>
          </li>
          <% end %>
        </ul>
      </div>
          <!-- <div class="col-sm-4">
            aaaa
            aaaa
          </div>
          <div class="col-sm-4">
            aaaa
            aaaa
          </div>
          <div class="col-sm-4">
            aaaa
            aaaa
          </div> -->
      </div>

        <div class="col-sm-3 events-filters">

        <div "class=row search">
          Search by:
        </div>

        <div class="row">
          <div class="container-fluid">
            <div class"row filters">
              <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cities
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Granada</a>
          <a class="dropdown-item" href="#">León</a>
          <a class="dropdown-item" href="#">San Juan del Sur</a>
          <a class="dropdown-item" href="#">Managua</a>
        </div>
      </div>
          </div>
        </div>

        </div>

        <div class="row">
          <div class="container-fluid">
            <div class"row filters">
              <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Music & Entertainment</a>
          <a class="dropdown-item" href="#">Sports & Wellness</a>
          <a class="dropdown-item" href="#">Theater, Film & Arts</a>
          <a class="dropdown-item" href="#">Food & Drink</a>
          <a class="dropdown-item" href="#">Community</a>
          <a class="dropdown-item" href="#">Education</a>
          <a class="dropdown-item" href="#">Business & Networking</a>
          <a class="dropdown-item" href="#">Night Life</a>
        </div>
      </div>
          </div>
        </div>
        </div>

          <div class="row">
            <div class="container-fluid">
              <div class"row filters">
                <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event Type
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Classes</a>
            <a class="dropdown-item" href="#">Festivals</a>
            <a class="dropdown-item" href="#">Concerts</a>
            <a class="dropdown-item" href="#">Special Offers</a>
            <a class="dropdown-item" href="#">Fundraisers</a>
            <a class="dropdown-item" href="#">Fairs</a>
            <a class="dropdown-item" href="#">Expos</a>
            <a class="dropdown-item" href="#">Parties</a>
          </div>
        </div>
            </div>
          </div>
          </div>

          <div class="row">
            <div class="container-fluid">
              <div class"row filters">
                <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Date
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Today</a>
            <a class="dropdown-item" href="#">Tomorrow</a>
            <a class="dropdown-item" href="#">This weekend</a>
            <a class="dropdown-item" href="#">This month</a>
          </div>
        </div>
            </div>
          </div>
          </div>

          <div class="row">
            <div class="container-fluid">
              <div class"row filters">
                <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cost
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Free</a>
            <a class="dropdown-item" href="#">Paid</a>
            <a class="dropdown-item" href="#">By Donation</a>
          </div>
          </div>
            </div>
          </div>
          </div>



        </div>
      </div>
