<!-- create events -->

<div class="row" id="box-events-wrapper">
  <div class="container-fluid">
    <div class="col-md-4 left-top-menu">
        <%= link_to "Home", root_path %>
        <%= link_to "Create Event", new_event_path %>
    </div>
    <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
    <div class="col-md-4 right-top-menu text-md-right">
      <%= link_to "More Events", events_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-12 text-xs-center create-form">
<h1>Create & share a new event</h1>

 <%= form_for @event do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>

<div>
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>

<div>
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>

  <%= f.button %>
<% end %>

</div>
</div>
</div>
</div>
