<!-- create events -->

<div class="row event-new">
  <div class="container-fluid">
    <div class="col-md-4 left-top-menu">
        <%= link_to "Home", root_path %>
        <%= link_to "Create Event", new_event_path %>
    </div>
    <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
    <div class="col-md-4 right-top-menu text-md-right">
      <%= link_to "More Events", events_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    </div>
</div>
</div>

<div class="row info-bar">
<div class="container">
  <span>Create & share a new event</span>
</div>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-12 create-form">
<h1></h1>

 <%= form_for @event do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>

<div>
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>

<div>
  <%= f.label :cost %>
  <%= f.select(:cost) do %>
    <% [['Free', 1], ['Paid', 2], ['By Donation', 3]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
</div>

<div>
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>

<div>
  <%= f.label :category %>
  <%= f.select(:category) do %>
    <% [['Music & Entertainment', 1], ['Sports & Wellness', 2], ['Theater, Film & Arts', 3], ['Food & Drink', 4], ['Community', 4], ['Education', 5], ['Business & Networking', 6], ['Night Life', 7]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
</div>
<div>
  <%= f.label :type %>
  <%= f.select(:type) do %>
    <% [['Class', 1], ['Festival', 2], ['Concert', 3], ['Special Offer', 4], ['Fundraiser', 4], ['Fair', 5], ['Expo', 6], ['Party', 7]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
</div>

  <%=f.button "Publish Event", class: "btn btn-primary"%>
<% end %>

</div>
</div>
</div>
</div>
<div class"row c">

</div>
