<h1>Create & share a new event</h1>

<!-- <%= form_for [@event] do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>

<div>
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>

<div>
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>

  <%= f.button %>
<% end %> -->
