<!-- create events -->

<div class="row event-create">
    <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Browse Events", events_path %>
        </div>
        <div class="col-md-4 text-xs-center" id="logo">
            <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
              <%= link_to "Create Event", new_event_path %>
            <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
            <% if @user.avatar.exists? %>
            <%= image_tag (@user.avatar.url(:thumb)), class: "img-fluid rounded profile-pic" %>
            <% end %>
        </div>
    </div>
</div>

<div class="row info-bar">
  <div class="container">

        <span>Create & share a new event</span>

  </div>
</div>

<div>
    <div class="container">
        <%= render "partials/create_event_form" %>
    </div>
</div>
</div>
</div>
<footer class="navbar-fixed-bottom global-footer">
  <div class="col-md-6 text-md-right about">
<%= link_to "About", about_path %>
</div>
  <div class="col-md-6 text-md-left contact">
<%= link_to "Contact", contact_path %>
</div>
</footer>
