<!-- Event details -->

<h1 id="eventdetails"> Event Details <h1>
<ul id="eventdetails">
<li> Title: <%= @event.title %> </li>
<li> Location: <%= @event.location %> </li>
<li> City: <%= @event.city %> </li>
<li> Description: <%= @event.description %> </li>
<li> Date: <%= @event.date %> </li>
<li> Price: USD<%= @event.price %> </li>
</ul>

<!-- <%= link_to "Featured Events", events_path %> -->
