<!-- Event details -->
<div class="row event-details">
    <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
            <%= link_to "Home", root_path %>
            <%= link_to "Browse Events", events_path %>

        </div>
        <div class="col-md-4 text-xs-center" id="logo">
            <%= link_to "Eventful", root_path %></div>
        <div class="col-md-4 right-top-menu text-md-right">
            <%= link_to "Create Event", new_event_path %>
            <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
        <% else %>
            <%= link_to "Sign Up", new_user_registration_path %>
            <%= link_to "Log In", new_user_session_path %>
            <% end %>
        </div>
    </div>
</div>

<div class="row info-bar">
    <div class="container">
        <span>Event details</span>
        <%= link_to "Edit", edit_event_path(@event) %>
        <%= link_to "Delete", event_path(@event), method: "delete", data: { confirm: "Are you sure you want to delete this event?" } %>
    </div>
</div>

<div class="container">
    <div class="row event-title">
        <h1 class="title">
            <%= @event.title %>
        </h1>

    </div>
</div>

<div class="container">
    <div class="col-md-6">

        <!-- <div class="row container"> -->
        <%= image_tag (@event.poster.url(:medium)), class: "img-fluid rounded" %>
        <!-- </div> -->
    </div>

    <div class="col-md-6 detail-info">
        <!-- <div class="row"> -->
        <p>
            City:
            <%= @event.city %>
        </p>
        <p>Location:
            <%= @event.location %>
        </p>
        <p>
            Description:
            <%= @event.description %>
        </p>
        <p>
            Event Link:
            <%=link_to @event.event_link, @event.event_link %>
        </p>
        <p>
            Date:
            <%= @event.date.strftime("%A, %d %b %Y") %>
        </p>
        <p>
            Cost:
            <%= @event.cost %>
        </p>
        <p>
            Price: USD<%= @event.price %>
        </p>
    </div>

    <%= render "partials/comments" %>

    <div class="row">
        <div class="col-sm-5">
            <h2>Comments</h2>
        </div>

        <div class="col-sm-7" id="comments">
            <% @comments.each do |comment| %>
            <div class="media">
                <div class="media-body">
                    <h5 class="media-heading"><%= comment.email %></h5>
                    <p><%= comment.feedback %></p>
                    <hr>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <%= render "partials/maps" %>



<!-- <%= link_to "Featured Events", events_path %> -->
