<!-- Event details -->
<div class="row event-details">
  <div class="container-fluid">
    <div class="col-md-4 left-top-menu">
        <%= link_to "Home", root_path %>
        <%= link_to "Create Event", new_event_path %>
    </div>
    <div class="col-md-4 text-xs-center" id="logo"> <%= link_to "Eventful", root_path %></div>
    <div class="col-md-4 right-top-menu text-md-right">
      <%= link_to "Browse Events", events_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Log In", new_user_session_path %>
      <% if @user.avatar.exists? %>
      <%= image_tag (@user.avatar.url(:thumb)), class: "img-fluid rounded profile-pic" %>
      <% end %>
    </div>
</div>
</div>

<div class="row info-bar">
<div class="container">
  <span>Event details</span>
</div>
</div>


<div class="container">
  <div class= "row event-title">
  <p> <%= @event.title %> </p>
 <div class="row container">
   <p> City: <%= @event.poster %> </p>
 </div>
</div>
<div class="row">
  <p> City: <%= @event.city %> </p>
  <p>Location: <%= @event.location %> </p>
  <p> Description: <%= @event.description %> </p>
  <p> Event Link: <%=link_to @event.event_link %> </p>
  <p> Date: <%= @event.date.strftime("%A, %d %b %Y") %> </p>
  <p> Cost: <%= @event.cost %> </p>
  <p> Price: USD<%= @event.price %> </p>
</div>
<%= render "partials/maps" %>

<!-- <%= link_to "Featured Events", events_path %> -->
