
<!-- Landing page -->

    <div class="row" id="box-wrapper">
      <div class="container-fluid">
        <div class="col-md-4 left-top-menu">
          <a href="index.html.erb">Home</a>
          <a href="index.html.erb">Create Event</a>
        </div>
        <div class="col-md-4 text-xs-center" id="logo">Eventful</div>
        <div class="col-md-4 right-top-menu text-md-right">
          <%= link_to "More Events", events_path %>
          <a href="index.html.erb">Sign Up</a>
          <a href="index.html.erb">Sign In</a>
        </div>
      </div>

      <div class="container live-enjoy text-md-center">
        <h2>Create | Enjoy | Connect</h2>
        <h5>Find & create events that enrich your community</h5>
      </div>



      <div class="landing-search-form">
        <form method="get" action="/events/search_results" class="form-inline text-md-center">
  <div class="form-group">
    <label for="exampleInputName2">When:</label>
    <input type="date-local" class="form-control" id="exampleInputName2" placeholder="January 1, 2016">
  </div>
  <div class="form-group">
    <label for="City">Where:</label>
    <input type="text" class="form-control" id="city" placeholder="Granada">
  </div>
  <button type="submit" class="btn btn-primary">Find Events</button>
</form>
  </div>
    </div>


    <div class="row">
      <div class="container-fluid"></div>
        <div class="footer text-xs-center">
          <a href="index.html.erb">Facebook</a>
          <a href="index.html.erb">Instagram</a>
        </div>
  </div>



    <%= form_tag("/events/search_results", :method => "get") do %>
      <%= label_tag(:date, "When:") %>
      <%= date_field_tag(:date) %>
      <%= label_tag(:location, "Where:") %>
      <%= text_field_tag(:location) %>
      <%= submit_tag("Find Events") %>
    <% end %> -->
